[submodule "effect"]
	path = effect
	url = git@github.com:yaoxin940211/effect.git
[submodule "scene"]
	path = scene
	url = git@github.com:yaoxin940211/scene.git
[submodule "Art/scene"]
	path = Art/scene
	url = git@github.com:yaoxin940211/scene.git
